body,
html {
  height: 100vh;
}

body {
  display: grid;
  margin: 0;
  place-self: center;
}

#app {
  display: grid;
  place-self: center;
}

.game-grid {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(8, 40px);
  grid-template-rows: repeat(8, 40px);
}
